*{
    margin: 0;
    padding: 0;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.nav-divider {
    border: 0;
    border-top: 1px solid #e5e7eb;
    margin: 0; /* Removes default spacing */
  }
nav div p{
    margin: 20px;
    font-size: large;
    color: lab(11.0101% 14.3499 -42.1491);
    font-family: Poppins, Poppins Fallback;
    
}
nav div button{
    width: 100px; height: 35px;
    border:1px solid gray;

    border-radius: 10px;
}
.searchbar{
    outline: none;  /* reomves default blue line*/
    width: 220px; height: 35px; border: 1px solid rgb(186, 186, 186); border-radius: 10px; text-align:left;
    transition: box-shadow 0.3s ease;
}
/* .searchbar:focus-within {
    border-color: #3b82f6; /* Optional: change border color */
    /* box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1); Soft glow */
/* }  */
.searchbar:hover{
    outline: black;
    background-color: white;
    box-shadow: 0 0 2px 2px rgb(144, 144, 144);
    color: white;
    color: black;
}  

.first{
    background-color: bisque;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.left{
    box-sizing: border-box;
    background-color: yellow;
    width: 500px;
    height: 400px;
  
}
.first .left h1{
    padding: 10px;
    font-size: 60px;
}

.first div img{
    width: 500px;
}