*{
    margin: 0;
    padding: 0;
    font-family:'Inter', sans-serif ;  
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.nav-divider {
    border: 0;
    border-top: 1px solid #e5e7eb;
    margin: 0; /* Removes default spacing */
  }
nav div p{
    margin: 20px;
    font-size: large;
    color: lab(11.0101% 14.3499 -42.1491);
    /* font-family: Poppins, Poppins Fallback; */
    
}
nav div button{
    width: 100px; height: 35px;
    border:1px solid gray;

    border-radius: 10px;
}
.searchbar{
    outline: none;  /* reomves default blue line*/
    width: 220px; height: 35px; border: 1px solid rgb(186, 186, 186); border-radius: 10px; text-align:left;
    transition: box-shadow 0.3s ease;
}
/* .searchbar:focus-within {
    border-color: #3b82f6; /* Optional: change border color */
    /* box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1); Soft glow */
/* }  */
.searchbar:hover{
    outline: black;
    background-color: white;
    box-shadow: 0 0 2px 2px rgb(144, 144, 144);
    color: white;
    color: black;
}  

.first{
    /* background-color: bisque; */
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.left{
    margin-top: 100px;
    box-sizing: border-box;
    /* background-color: yellow; */
    width: 600px;
    height: 400px;
  
}
.first .left h1{
    font-family: 'Inter', sans-serif;
    padding: 10px;
    font-size: 60px;
    color: lab(11.0101% 14.3499 -42.1491);
}

.first div img{
    width: 500px;
  
}
.left div{
    display: flex;
    padding: 10px;
}

.log{
    width: 100px;
    height: 45px;
    background-color: white; /* Move it here! */
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* This makes the hover look smooth */
}
.log:hover{
    background-color: rgb(196, 191, 191);
}
.box1{
    box-sizing: border-box;
    color: white;
    background-color:lab(11.0101% 14.3499 -42.1491);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 15px;
    border-top-right-radius: 350px;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text-head{
    font-size: 50px;
}
.partition{
    width: 3px;               /* Thickness of the line */
  height: 100px;             /* Control how tall the line is */
  background-color: white;  
  /* opacity: 0.2;             Making it semi-transparent makes it look thinner */
  align-self: center;
}
/* .second .lucide{
    display: inline-flex;      /* Important! */
  /* align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  margin-right: 16px; */
/* } */ 
/* .second i svg {
    width: 28px;
    height: 28px;
    stroke-width: 2;
} */
.icon-bg {
    width: 48px;
    height: 48px;
    background-color: #8B8FCB;
    /* border-radius: 10px; */
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
    margin-right: 10px;
  }
.box1 .lucide {
    width: 36px;
    height: 36px;
    stroke: black;
    /* in case of images teh image outline color is determined by stroke and width by stroke-width */
    /* color: black; */
  }
  .stat{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .third{
    margin-top: 40px;
    height: 300px;
    background-color: wheat;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
  }
  .leftbox{
    box-sizing: border-box;
    background-color: lab(61.2815% -53.312 -.356901);
    width: 70%;
    height: 200px ;
    margin-left: 100px;
    margin-right: 50px;
    padding: 40px;
  }
  .rightbox{
    box-sizing: border-box;
    background-color: lab(5.87349% 11.8811 -39.5785);
    color: white;
    height: 200px;
    margin-right: 100px;
    padding: 40px;
  }